@charset "UTF-8";

// Libs
@import 'font-awesome';
@import 'bootstrap';

/*====================================================*/
/*============ WordPress Content Classes =============*/
/*====================================================*/
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.navbar-toggle {
	@media screen and (min-width: 768px) {
		display: block;
	}
}
.navbar-collapse.collapse {
    @media screen and (min-width: 768px) {
		display: none!important;
		
		&.in{
			display: block!important;
		}
	}
}